##CONFIGURATION FILE
##configs for gpsave
##By Josjuar Lister 2022 made for the love of his life as part of a gift for his Bride on their wedding day!

##GIPO pin to use for button input
  gpio_in=23

##GPIO pin to use for output LED
  gpio_out=0 // Not in use yet!

##Source directory to backup from
  src=/home/pi/src

##destination directory to backup to
  dest=/home/pi/dest

ADVANCED FEATURES //None Yet in use

##Copy Child driectories found in src?
  cp_recursive=yes

##Start backing up when GPIO input is low (0), instead of high(1)
  input_flip=no

##File copy buffer size in bytes
  buff_size=1024
  
##Keep the file permissions the same when copied to dest
  restore_perms=yes
 
