##CONFIGURATION FILE
##configs for gpsave
##By Josjuar Lister 2022 made for the love of his life as a gift for his Bride on their wedding day!

##GIPO pin to use for button input
gpio_in=23

##GPIO ping to use for output LED
gpio_out=0

##Source directory to backup from
src=/home/pi/gopro

##destination directory to backup to
dest=/home/pi/share
